.perfil {
    border-radius: 100%;
    max-width: 220px;
    
}

body {
    background-color: rgb(255, 255, 255);
    text-align: justify;
    color: black;
    font-family: lucida console;
}

.divisoria-primaria {
    margin-left: 25%;
    margin-top: 50px;
    background: rgb(255, 255, 255);
    display: block;
}

.divisoria-secundaria {
    margin-right: 10%;
    margin-left: 53.7%;
    margin-top: -614px;
    background: rgb(255, 200, 226);
}

.borda {
    border-left: 5px solid rgb(0, 0, 0);
    background-color: rgb(255, 200, 226);
    font-size: 14px;
    text-align: center;
}

.borda-secundaria {
    border: 2px solid rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
}

.borda-terciaria {
    border: 2px solid rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
}